<IfModule mod_rewrite.c>

	# Necessary to allow up to 1GB upload
	php_value upload_max_filesize 1G
	php_value post_max_size 1G

	# Redirects all request to index.php
	RewriteEngine on

	# Allows request for static files
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ index.php [L]

</IfModule>