
table {
	width: 100%;
	border-collapse: collapse;
}

table th {
	text-align: left;
	background-color: var(--color-foreground);
	color: #fff;
}

table img {
	height: 40px;
}

table tbody tr > :first-child {
	display: flex;
	align-items: center;
	gap: .5rem;
}

table button {
	border-style: outset;
	padding: .25rem;
	cursor: pointer;
	box-sizing: border-box;
	background-color: #e3e3e3;
	border-color: #000;
}
